[Desktop Entry]
Name=NASsie
Comment=Create and manage SMB (Samba) shares
Exec=nassie --gui
Icon=nassie
StartupWMClass=NASsie
Terminal=false
Type=Application
Categories=System;Settings;
